<section class="container">
    <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-8 col-xl-8 g-0">
            <div class="container">
            <div class="about-content-cont">
                <h1>About</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                     Assumenda ipsa velit tempore illum atque quia eius architecto, 
                     quod omnis dolorem sequi corporis officiis. 
                    Laborum itaque totam tempore aliquid! Temporibus, voluptatum?
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                     Assumenda ipsa velit tempore illum atque quia eius architecto, 
                     quod omnis dolorem sequi corporis officiis. 
                    Laborum itaque totam tempore aliquid! Temporibus, voluptatum?
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                     Assumenda ipsa velit tempore illum atque quia eius architecto, 
                     quod omnis dolorem sequi corporis officiis. 
                    Laborum itaque totam tempore aliquid! Temporibus, voluptatum?
                    </p>
                     
            </div>
            </div>
        </div>
        <div class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4">
            <div class="ceo-img-cont">
                <img src="/images/Ceo.png" alt="image">
            </div>
        </div>
        
    </div>
</section>
