<section class="section">
    <div class="container">
        <div class="form-container">
            <h3 class="main-heading">Contact us</h3>
            <p class="sub-heading text-light">Let's start a conversation!</p>
            <div class="row">
                <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                    <div class="formgroup">
                        <input placeholder="first name" type="text">
                    </div>
                </div>
                <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                    <div class="formgroup">
                        <input placeholder="last name" type="text">
                    </div>
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                    <div class="formgroup">
                        <input placeholder="email" type="text">
                    </div>
                </div>
                 <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                    <div class="formgroup">
                        <textarea placeholder="Message" rows="2" type="text"></textarea>
                    </div>
                </div>
            </div>
            <button class="btn-send">Send</button>
        </div>
    </div>
</section>

